[user]
	name = AUTHORNAME
	email = AUTHOREMAIL

[color]
  # Turn on color console output
	ui = always

[core]
        # Sets arguments used when git calls less.  I add tab stops at convenient places for log messages.
        pager = less -FXRS -x17,26
        excludesfile = ~/.gitignore

[alias]
        # Alias "git svn-diff" to list the commits on this branch that haven't been pushed to subversion
        server-outgoing = log remotes/origin/master..
        server-incoming = log ..remotes/origin/master

[format]
        # Format for log messages used by "git log".  Puts everything on one line with nicely aligned columns.
        # Fields: Time, User name, Hash, Commit subject, Ref names (if available)
        # See: http://www.kernel.org/pub/software/scm/git/docs/git-log.html#_pretty_formats
        # For colors, see color.branch option: http://www.kernel.org/pub/software/scm/git/docs/git-config.html#_variables
        pretty = %Creset%Cblue%cr\t%C(cyan bold)%an%Creset\t%C(yellow)%h%Creset %s%C(magenta)%d%Creset

[credential]
	helper = osxkeychain
