[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized.git
[submodule "opp"]
	path = opp
	url = https://github.com/hchbaw/opp.zsh.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "tmux-resurrect"]
	path = tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "sessel"]
	path = sessel
	url = https://github.com/dpilone/sessel
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "zsh-custom/plugins/zsh-syntax-highlighting"]
	path = zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
