[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "liquidprompt"]
	path = liquidprompt
	url = https://github.com/dpilone/liquidprompt.git
[submodule "opp"]
	path = opp
	url = https://github.com/hchbaw/opp.zsh.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
